#presentations.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Conferences::Presentation.human_attribute_name :conference
          %th= Spina::Conferences::Presentation.human_attribute_name :title
          %th= Spina::Conferences::Presentation.human_attribute_name :presenters
          %th

      %tbody
        - if @room.presentations.any?
          - @room.presentations.each do |presentation|
            %tr
              %td= presentation.conference.name
              %td= link_to presentation.title, spina.edit_admin_conferences_presentation_path(presentation)
              %td
                - presentation.presenters.each do |presenter|
                  = link_to presenter.full_name, spina.edit_admin_conferences_delegate_path(presenter)
                  %br
              %td.align-right
                = link_to spina.edit_admin_conferences_presentation_path(presentation), class: 'button button-small button-link' do
                  = icon('pencil-outline')
                  = t('spina.edit')

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.presentations.no_presentations')
