- content_for(:header_actions) do
  = link_to spina.new_admin_conferences_room_path, class: 'button button-primary', style: 'margin-right: 0' do
    = icon('plus')
    = t('spina.conferences.rooms.new')

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::Room.human_attribute_name :institution
          %th= Spina::Admin::Conferences::Room.human_attribute_name :building
          %th= Spina::Admin::Conferences::Room.human_attribute_name :number
          %th

      %tbody
        - if @rooms.any?
          = render @rooms

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.rooms.no_rooms')
