- if @presentation_attachment_type.errors.any?
  - content_for :notifications do
    = render 'errors', errors: @presentation_attachment_type.errors

= form_for [:admin_conferences, @presentation_attachment_type], html: { autocomplete: 'off' } do |f|
  %header#header
    = render partial: @presentation_attachment_type.new_record? ? 'spina/admin/shared/breadcrumbs' : 'breadcrumbs'

    #header_actions
      %button.button.button-primary{ type: 'submit' }
        = icon 'check'
        = t '.save'

      = link_to t('spina.cancel'), admin_conferences_presentation_attachment_types_path, class: 'button', style: 'margin-right: 0'

  = hidden_field_tag :locale, @locale

  - Mobility.with_locale(@locale) do
    %div{ style: 'margin-top: 40px' }
      .horizontal-form
        .horizontal-form-group
          .horizontal-form-label= Spina::Admin::Conferences::DietaryRequirement.human_attribute_name :name
          .horizontal-form-content= f.text_field :name, placeholder: Spina::Admin::Conferences::DietaryRequirement.human_attribute_name(:name), required: true

  - unless @presentation_attachment_type.new_record?
    .pull-right= link_to t('spina.permanently_delete'), admin_conferences_presentation_attachment_type_path(@presentation_attachment_type), method: :delete, data: { confirm: t('.delete_confirmation', presentation_attachment_type: @presentation_attachment_type.name) }, class: %w[button button-link button-danger]
