- content_for(:header_actions) do
  = link_to new_admin_conferences_presentation_attachment_type_path, class: %w[button button-primary], style: 'margin-right: 0' do
    = icon 'plus'
    = t '.new'

= render partial: 'presentation_attachment_types', object: @presentation_attachment_types
= link_to_next_page @presentation_attachment_types, 'Next'
