- content_for :header do
  .d-md-flex.flex-items-start.my-4
    %div.flex-auto
      %h1.mb-1= @conference.name
      .text-gray
        %div= t :'.dates_html', start_date: time_tag(@conference.start_date), finish_date: time_tag(@conference.finish_date)
        %address<
          = "#{@conference.institution.name}"
          = ", #{@conference.institution.city}" unless @conference.institution.name.include? @conference.institution.city
    = responsive_image_tag @conference.institution.logo.file, variant: { resize_to_limit: [300, 60] }, draggable: false, class: %w[flex-shrink-0 pl-md-4 pt-4 pt-md-0] if @conference.institution.logo

= render part(:gallery), controls: true

- content_for :content do
  - if @conference.content(:submission_date)&.>= Date.today
    .alert.my-4
      %strong= t :'.submit_by_html', date: time_tag(@conference.content(:submission_date), format: :short)
      - if has_content? :submission_text
        = @conference.content(:submission_text).try :html_safe
      - if has_content? :submission_url
        = link_to t(:'.submit_abstract'), @conference.content(:submission_url), class: [:button, :solid]

  %div{ data: { controller: 'underlinenav', 'underlinenav': { 'selected-item': '0' } } }
    %nav.UnderlineNav{ aria: { label: '' } }
      .UnderlineNav-body
        %button.btn-link.UnderlineNav-item.selected{ title: t(:'.tabs.information'), target: '_self', role: 'tab', data: { target: 'underlinenav.item', action: 'underlinenav#select' } }= t(:'.tabs.information')
        %button.btn-link.UnderlineNav-item{ title: t(:'.tabs.presentations'), target: '_self', role: 'tab', data: { target: 'underlinenav.item', action: 'underlinenav#select' } }= t(:'.tabs.presentations')
        %button.btn-link.UnderlineNav-item{ title: t(:'.tabs.events'), target: '_self', role: 'tab', data: { target: 'underlinenav.item', action: 'underlinenav#select' } }= t(:'.tabs.events')
    .markdown-body.my-4{ data: { target: 'underlinenav.itemContent' } }= render part(:text)
    %div{ data: { target: 'underlinenav.itemContent' } }
      = render 'shared/subnav', collection: @conference.presentation_types.order(:name), method: :name, cached: true do
        = link_to spina.conferences_conference_url(@conference, protocol: :webcal, format: :ics), class: %w[btn btn-primary float-sm-right mb-1 mb-sm-0], role: :button do
          = octicon 'calendar'
          = t :'.subscribe'
    %div{ data: { target: 'underlinenav.itemContent' } }= render 'shared/subnav', collection: [*part!(:socials), *part!(:meetings)], method: :title, cached: true

  = render part(:sponsors), cached: true
