- if @dietary_requirement.errors.any?
  - content_for :notifications do
    = render 'errors', errors: @dietary_requirement.errors

= form_for [:admin_conferences, @dietary_requirement], html: { autocomplete: 'off' } do |f|
  %header#header
    = render partial: @dietary_requirement.new_record? ? 'spina/admin/shared/breadcrumbs' : 'breadcrumbs'

    #header_actions
      %button.button.button-primary{ type: 'submit' }
        = icon 'check'
        = t '.save'

      = link_to t('spina.cancel'), admin_conferences_dietary_requirements_path, class: 'button', style: 'margin-right: 0'

    %nav#secondary.tabs
      %ul
        - @tabs.each_with_index do |tab, i|
          %li{ class: ('active' if i == 0) }
            = link_to t(".#{tab}"), "##{tab}"

  #dietary_requirement_details.tab-content.active= render 'form_dietary_requirement_details', f: f
  #delegates.tab-content= render partial: 'delegates', object: @dietary_requirement.delegates
