- content_for(:header) do
  = render "#{current_theme.name}/shared/title"

- current_page&.children&.each do |child|
  %article
    - conference = child.conference
    %h2= link_to conference.institution_and_year, child.materialized_path
    = time_tag conference.dates.min, l(conference.dates.min, format: :long)
    to
    = time_tag conference.dates.max, l(conference.dates.max, format: :long)
    %address<
      = "#{conference.institution.name}"
      = ", #{conference.institution.city}" unless conference.institution.name.include? conference.institution.city
