- content_for(:header) do
  = render "#{current_theme.name}/shared/title"
  %div
    = time_tag conference.dates.begin, l(conference.dates.begin, format: :long)
    to
    = time_tag conference.dates.end.prev_day, l(conference.dates.end.prev_day, format: :long)
  %address<
    = "#{conference.institution.name}"
    = ", #{conference.institution.city}" unless conference.institution.name.include? conference.institution.city

- conference.presentation_types.where('name LIKE ?', '%Plenary%').each do |presentation_type|
  - unless presentation_type.presentations.empty?
    %h2= presentation_type.name.pluralize
    - presentation_type.presentations.each do |presentation|
      %article
        %h3= presentation.title
        = time_tag presentation.start_datetime, l(presentation.start_datetime, format: :long)
        %address
          - presentation.presenters.each do |presenter|
            = "#{presenter.full_name}, #{presenter.institution.name}"
        = presentation.abstract.try(:html_safe)

- conference.presentation_types.where.not('name LIKE ?', '%Plenary%').each do |presentation_type|
  - unless presentation_type.presentations.empty?
    %details
      %summary= "#{presentation_type.name} #{t('spina.conferences.website.presentations').downcase}"
      - presentation_type.presentations.each do |presentation|
        %article
          %h3= link_to presentation.title, presentation.conference_page.materialized_path
          %address
            - presentation.presenters.each do |presenter|
              = "#{presenter.full_name}, #{presenter.institution.name}"
