#conferences.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Conferences::Conference.human_attribute_name :year
          %th= Spina::Conferences::Conference.human_attribute_name :institution
          %th= Spina::Conferences::Conference.human_attribute_name :start_date
          %th= Spina::Conferences::Conference.human_attribute_name :finish_date
          %th

      %tbody
        - if @delegate.conferences.any?
          = render partial: 'spina/admin/conferences/shared/conference', collection: @delegate.conferences

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.conferences.no_conferences')
