#conferences.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::Conference.human_attribute_name :name
          %th= Spina::Admin::Conferences::Conference.human_attribute_name :year
          %th= Spina::Admin::Conferences::Conference.human_attribute_name :institution
          %th= Spina::Admin::Conferences::Conference.human_attribute_name :start_date
          %th= Spina::Admin::Conferences::Conference.human_attribute_name :finish_date
          %th

      %tbody
        = render @delegate.conferences.any? ? @delegate.conferences : 'empty_list', message: t('spina.admin.conferences.conferences.index.no_conferences')
