#delegate_details.tab-content.active
  .page-form
    .page-form-group
      .page-form-label= Spina::Admin::Conferences::Delegate.human_attribute_name :name
      .page-form-control
        .input-group
          = f.text_field :first_name, placeholder: Spina::Admin::Conferences::Delegate.human_attribute_name(:first_name), required: true, class: 'input-large'
          = f.text_field :last_name, placeholder: Spina::Admin::Conferences::Delegate.human_attribute_name(:last_name), required: true, class: 'input-large'

    .page-form-group
      .page-form-label= Spina::Admin::Conferences::Delegate.human_attribute_name :institution
      .page-form-control
        .select-dropdown= f.collection_select :institution_id, Spina::Admin::Conferences::Institution.all, :id, :name, {}, required: true

    .page-form-group
      .page-form-label= Spina::Admin::Conferences::Delegate.human_attribute_name :email_address
      .page-form-control= f.email_field :email_address, placeholder: Spina::Admin::Conferences::Delegate.human_attribute_name(:email_address), required: true

    .page-form-group
      .page-form-label= Spina::Admin::Conferences::Delegate.human_attribute_name :url
      .page-form-control= f.url_field :url, placeholder: Spina::Admin::Conferences::Delegate.human_attribute_name(:url)

    .page-form-group
      .page-form-label
        = Spina::Admin::Conferences::Delegate.human_attribute_name :dietary_requirements
      .page-form-content
        .well{ style: 'margin: 0' }
          .table-container
            %table.table{ style: 'margin: 0' }
              %tbody
                = f.collection_check_boxes :dietary_requirement_ids, Spina::Admin::Conferences::DietaryRequirement.all, :id, :name do |builder|
                  %tr
                    %td{ style: "padding-left: 16px" }
                      .form-checkbox
                        = builder.check_box
                        = builder.label

    .page-form-group
      .page-form-label
        = Spina::Admin::Conferences::Delegate.human_attribute_name :conferences
      .page-form-content
        .well{ style: 'margin: 0' }
          .table-container
            %table.table{ style: 'margin: 0' }
              %tbody
                = f.collection_check_boxes :conference_ids, Spina::Admin::Conferences::Conference.all, :id, :name, {} do |builder|
                  %tr
                    %td{ style: "padding-left: 16px" }
                      .form-checkbox
                        = builder.check_box
                        = builder.label

  - unless @delegate.new_record?
    .pull-right= link_to t('spina.permanently_delete'), admin_conferences_delegate_path(@delegate), method: :delete, data: { confirm: t('.delete_confirmation', delegate: @delegate.full_name) }, class: %w[button button-link button-danger]
