- content_for(:header_actions) do
  %label.button{ for: 'file' }
    = icon 'cog'
    = t '.import'
    = form_with url: import_admin_conferences_delegates_path do |f|
      = f.submit style: 'display: none'
      = f.file_field :file, multiple: false, style: 'display: none'
  = link_to new_admin_conferences_delegate_path, class: %w[button button-primary], style: 'margin-right: 0' do
    = icon 'plus'
    = t '.new'

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::Delegate.human_attribute_name :name
          %th= Spina::Admin::Conferences::Delegate.human_attribute_name :email_address
          %th= Spina::Admin::Conferences::Delegate.human_attribute_name :institution
          %th

      %tbody
        = render @delegates.any? ? @delegates : 'empty_list', message: t('.no_delegates')
