- content_for(:header_actions) do
  %label.button{ for: 'file' }
    = icon 'cog'
    = t '.import'
    = form_with url: import_admin_conferences_delegates_path do |f|
      = f.submit style: 'display: none'
      = f.file_field :file, multiple: false, style: 'display: none'
  = link_to new_admin_conferences_delegate_path, class: %w[button button-primary], style: 'margin-right: 0' do
    = icon 'plus'
    = t '.new'

= render partial: 'delegates', object: @delegates
= link_to_next_page @delegates, 'Next'
