- content_for :application do
  %header#header
    #header_actions
      = yield(:header_actions)

    = render partial: 'spina/admin/shared/breadcrumbs'

    %nav#secondary.tabs
      %ul
        %li{class: ('active' if controller_name == 'presentations')}
          = link_to t('spina.collect.all_presentations'), admin_presentations_path
        %li{class: ('active' if controller_name == 'presentation_types')}
          = link_to t('spina.collect.presentation_types'), admin_presentation_types_path

  = yield

= render template: 'layouts/spina/admin/admin'
