- content_for :application do
  %header#header
    #header_actions
      = yield(:header_actions)

    = render partial: 'spina/admin/shared/breadcrumbs'

    %nav#secondary.tabs
      %ul
        %li{class: ('active' if controller_name == 'delegates')}
          = link_to t('spina.collect.website.delegates'), admin_collect_delegates_path
        %li{class: ('active' if controller_name == 'dietary_requirements')}
          = link_to t('spina.collect.website.dietary_requirements'), admin_collect_dietary_requirements_path

  = yield

= render template: 'layouts/spina/admin/admin'
