- content_for :application do
  %header#header
    #header_actions
      = yield(:header_actions)

    = render partial: 'spina/admin/shared/breadcrumbs'

    %nav#secondary.tabs
      %ul
        %li{class: ('active' if controller_name == 'institutions')}
          = link_to t('spina.collect.website.institutions'), admin_collect_institutions_path
        %li{class: ('active' if controller_name == 'rooms')}
          = link_to t('spina.collect.website.rooms'), admin_collect_rooms_path

  = yield

= render template: 'layouts/spina/admin/admin'
