#presentations.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::Presentation.human_attribute_name :conference
          %th= Spina::Admin::Conferences::Presentation.human_attribute_name :title
          %th= Spina::Admin::Conferences::Presentation.human_attribute_name :presenters
          %th

      %tbody
        - if @presentation_type.presentations.any?
          = render @presentation_type.presentations

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.presentations.no_presentations')