- if @presentation_type.errors.any?
  - content_for :notifications do
    = render 'errors', errors: @presentation_type.errors

= form_for @presentation_type, remote: true, html: { autocomplete: 'off' } do |f|
  %header#header
    = render partial: 'spina/admin/shared/breadcrumbs'

    #header_actions
      %button.button.button-primary{ type: 'submit' }
        = icon 'check'
        = t '.save'

      = link_to t('spina.cancel'), admin_conferences_presentation_types_path, class: 'button', style: 'margin-right: 0'

    %nav#secondary.tabs
      %ul
        - @tabs.each_with_index do |tab, i|
          %li{ class: ('active' if i == 0) }
            = link_to t(".#{tab}"), "##{tab}"

  - @tabs.each do |tab|
    = render "form_#{tab}", f: f
