#sessions.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::Session.human_attribute_name :name
          %th= Spina::Admin::Conferences::Session.human_attribute_name :presentation_type
          %th= Spina::Admin::Conferences::Session.human_attribute_name :room
          %th

      %tbody
        - if @presentation_type.sessions.any?
          = render @presentation_type.sessions

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.sessions.no_sessions')
