- content_for(:header_actions) do
  %span{ data: { dropdown: true } }
    = link_to spina.new_admin_conferences_presentation_type_path(params: { confernce: Spina::Conferences::Conference&.first || nil }), class: 'button button-primary', style: 'margin-right: 0', data: { trigger: ('dropdown' if Spina::Conferences::Conference.many?), target: '#create_conference_dropdown' } do
      = icon('plus')
      = t('spina.conferences.presentation_types.new')

    .sliding-dropdown#create_conference_dropdown.align-right
      .slide{ class: :active }
        = form_for [:admin_presentation_types, Spina::Conferences::PresentationType.new], url: spina.new_admin_conferences_presentation_type_path, method: :get do |f|
          .select-dropdown
            = f.collection_select :conference_id, Spina::Conferences::Conference.all, :id, :name, { required: true }
          = f.submit t('spina.conferences.conferences.new'), class: 'button button-primary'

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Conferences::PresentationType.human_attribute_name :conference
          %th= Spina::Conferences::PresentationType.human_attribute_name :name
          %th= Spina::Conferences::PresentationType.human_attribute_name :duration
          %th

      %tbody
        - if @presentation_types.any?
          - @presentation_types.each do |presentation_type|
            %tr
              %td= presentation_type.conference.institution_and_year
              %td= link_to presentation_type.name, spina.edit_admin_conferences_presentation_type_path(presentation_type)
              %td= time_tag presentation_type.duration, presentation_type.duration.inspect unless presentation_type.duration.blank?
              %td.align-right
                = link_to spina.edit_admin_conferences_presentation_type_path(presentation_type), class: 'button button-small button-link' do
                  = icon('pencil-outline')
                  = t('spina.edit')

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.presentation_types.no_presentation_types')
