#rooms.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Collect::Room.human_attribute_name :building
          %th= Spina::Collect::Room.human_attribute_name :number
          %th

      %tbody
        - if @conference.room_possessions.any?
          - @conference.room_possessions.each do |room_possession|
            %tr
              %td= room_possession.room.building
              %td= link_to room_possession.room.number, spina.edit_admin_collect_room_path(room_possession.room)
              %td.align-right
                = link_to spina.edit_admin_collect_room_path(room_possession.room), class: 'button button-small button-link' do
                  = icon('pencil-outline')
                  = t('spina.edit')

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.collect.rooms.no_rooms')
