- content_for :application do
  %header#header
    #header_actions
      = yield(:header_actions)

    = render partial: 'spina/admin/shared/breadcrumbs'

    %nav#secondary.tabs
      %ul
        %li{class: ('active' if controller_name == 'conferences')}
          = link_to Spina::Admin::Conferences::Conference.model_name.human(count: 0), admin_conferences_conferences_path
        %li{class: ('active' if controller_name == 'presentation_types')}
          = link_to Spina::Admin::Conferences::PresentationType.model_name.human(count: 0), admin_conferences_presentation_types_path
        %li{class: ('active' if controller_name == 'sessions')}
          = link_to Spina::Admin::Conferences::Session.model_name.human(count: 0), admin_conferences_sessions_path

  = yield

= render template: 'layouts/spina/admin/admin'
