= stylesheet_link_tag 'spina/admin/conferences/application', media: 'all', data: { turbolinks_track: true }
= stimulus_include_tags
= javascript_include_tag 'turbo', type: 'module-shim'
= javascript_include_tag 'spina/admin/conferences/application'
= yield :head
