- if @presentation.errors.any?
  - content_for :notifications do
    = render 'errors', errors: @presentation.errors

= form_for [:admin_conferences, @presentation], html: { autocomplete: 'off' } do |f|
  %header#header
    = render partial: @presentation.new_record? ? 'spina/admin/shared/breadcrumbs' : 'breadcrumbs'

    #header_actions
      %button.button.button-primary{ type: 'submit' }
        = icon 'check'
        = t '.save'

      = link_to t('spina.cancel'), admin_conferences_presentations_path, class: 'button', style: 'margin-right: 0'

    %nav#secondary.tabs
      %ul
        - @tabs.each_with_index do |tab, i|
          %li{ class: ('active' if i == 0) }
            = link_to t(".#{tab}"), "##{tab}"

  = hidden_field_tag :locale, @locale

  - Mobility.with_locale(@locale) do
    #presentation_details.tab-content.active= render 'form_presentation_details', f: f
    #presenters.tab-content= render partial: 'delegates', object: @presentation.presenters
