#presenters.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Conferences::Delegate.human_attribute_name :name
          %th= Spina::Conferences::Delegate.human_attribute_name :email_address
          %th= Spina::Conferences::Delegate.human_attribute_name :institution
          %th

      %tbody
        - if @presentation.presenters.any?
          = render partial: 'spina/admin/conferences/shared/delegate', collection: @presentation.presenters

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.presenters.no_presenters')