- content_for(:header_actions) do
  %label.button{ for: 'file' }
    = icon('cog')
    = t '.import'
    = form_with url: import_admin_conferences_presentations_path do |f|
      = f.submit style: 'display: none'
      = f.file_field :file, multiple: false, style: 'display: none'
  = link_to new_admin_conferences_presentation_path, class: %w[button button-primary], style: 'margin-right: 0' do
    = icon 'plus'
    = t '.new'

= render partial: 'presentations', object: @presentations
= link_to_next_page @presentations, 'Next'
