- if @session.errors.any?
  - content_for :notifications do
    = render 'errors', errors: @session.errors

= form_for [:admin_conferences, @session], html: { autocomplete: 'off' } do |f|
  %header#header
    = render partial: @session.new_record? ? 'spina/admin/shared/breadcrumbs' : 'breadcrumbs'

    #header_actions
      %button.button.button-primary{ type: 'submit' }
        = icon 'check'
        = t '.save'

      = link_to t('spina.cancel'), admin_conferences_sessions_path, class: 'button', style: 'margin-right: 0'

    %nav#secondary.tabs
      %ul
        - @tabs.each_with_index do |tab, i|
          %li{ class: ('active'if i == 0)}
            = link_to t(".#{tab}"), "##{tab}"

  #session_details.tab-content.active= render 'form_session_details', f: f
  #presentations.tab-content= render partial: 'presentations', object: @session.presentations
