#conferences.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::Conference.human_attribute_name :year
          %th= Spina::Admin::Conferences::Conference.human_attribute_name :start_date
          %th= Spina::Admin::Conferences::Conference.human_attribute_name :finish_date
          %th

      %tbody
        - if @institution.conferences.any?
          = render @institution.conferences

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.conferences.no_conferences')
