- if @institution.errors.any?
  - content_for :notifications do
    = render 'errors', errors: @institution.errors

= form_for [:admin_conferences, @institution], html: { autocomplete: 'off' } do |f|
  %header#header
    = render partial: @institution.new_record? ? 'spina/admin/shared/breadcrumbs' : 'breadcrumbs'

    #header_actions
      %button.button.button-primary{ type: 'submit' }
        = icon 'check'
        = t '.save'

      = link_to t('spina.cancel'), admin_conferences_institutions_path, class: 'button', style: 'margin-right: 0'

    %nav#secondary.tabs
      %ul
        - @tabs.each_with_index do |tab, i|
          %li{ class: ('active' if i == 0) }
            = link_to t(".#{tab}"), "##{tab}"

  = hidden_field_tag :locale, @locale

  #institution_details.tab-content.active= render 'form_institution_details', f: f
  #rooms.tab-content= render partial: 'rooms', object: @institution.rooms
  #delegates.tab-content= render partial: 'delegates', object: @institution.delegates
