- content_for(:header_actions) do
  = link_to spina.new_admin_conferences_institution_path, class: 'button button-primary', style: 'margin-right: 0' do
    = icon('plus')
    = t('spina.conferences.institutions.new')

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Conferences::Institution.human_attribute_name :name
          %th= Spina::Conferences::Institution.human_attribute_name :city
          %th

      %tbody
        - if @institutions.any?
          = render partial: 'spina/admin/conferences/shared/institution', collection: @institutions

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.institutions.no_institutions')
