- content_for(:header_actions) do
  = link_to new_admin_conferences_institution_path, class: %w[button button-primary], style: 'margin-right: 0' do
    = icon 'plus'
    = t '.new'

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::Institution.human_attribute_name :name
          %th= Spina::Admin::Conferences::Institution.human_attribute_name :city
          %th

      %tbody
        = render @institutions.any? ? @institutions : 'empty_list', message: t('.no_institutions')
