%tr{ data: { conference_id: conference.id } }
  %td= link_to conference.name, edit_admin_conferences_conference_path(conference)
  %td= conference.year
  %td= time_tag conference.start_date, l(conference.start_date, format: :long)
  %td= time_tag conference.finish_date, l(conference.finish_date, format: :long)
  %td.align-right
    = link_to edit_admin_conferences_conference_path(conference), class: %w[button button-small button-link] do
      = icon 'pencil-outline'
      = t 'spina.edit'
