.structure-form-pane{ class: ('active' if (local_assigns[:active] == true) || (f.index == 0)), id: "structure_form_pane_#{f.index}",
                      data: { 'spina--admin--conferences--conference_events_form': { target: 'formPane' } } }
  .structure-form-part
    .page-form-label= Spina::Admin::Conferences::Event.human_attribute_name :name
    .page-form-control= f.text_field :name, placeholder: Spina::Admin::Conferences::Event.human_attribute_name(:name), required: true

  .structure-form-part
    .page-form-label= Spina::Admin::Conferences::Event.human_attribute_name :start_datetime
    .page-form-control= f.datetime_field :start_datetime,
                              placeholder: Spina::Admin::Conferences::Event.human_attribute_name(:start_datetime), required: true

  .structure-form-part
    .page-form-label= Spina::Admin::Conferences::Event.human_attribute_name :finish_datetime
    .page-form-control= f.datetime_field :finish_datetime,
                              placeholder: Spina::Admin::Conferences::Event.human_attribute_name(:finish_datetime), required: true

  .structure-form-part
    .page-form-label= Spina::Admin::Conferences::Event.human_attribute_name :location
    .page-form-control= f.text_field :location, placeholder: Spina::Admin::Conferences::Event.human_attribute_name(:location),
                        required: true

  .structure-form-part
    .page-form-label= Spina::Admin::Conferences::Event.human_attribute_name :description
    .page-form-content
      .page-form-rich-text= f.rich_text_area :description

  = f.hidden_field :id

  = f.hidden_field :_destroy, data: { 'spina--admin--conferences--conference_events_form_target': 'destroyField' }
  = button_tag t('spina.delete'), type: 'button', class: %w[button button-mini button-link pull-right],
               data: { action: 'spina--admin--conferences--conference-events-form#removeForm' }
