#presentation_types.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::PresentationType.human_attribute_name :conference
          %th= Spina::Admin::Conferences::PresentationType.human_attribute_name :name
          %th= Spina::Admin::Conferences::PresentationType.human_attribute_name :duration
          %th

      %tbody
        - if @conference.presentation_types.any?
          = render @conference.presentation_types

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.presentation_types.no_presentation_types')
