#delegates.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Conferences::Delegate.human_attribute_name :name
          %th= Spina::Conferences::Delegate.human_attribute_name :email_address
          %th= Spina::Conferences::Delegate.human_attribute_name :institution
          %th

      %tbody
        - if @conference.delegates.any?
          - @conference.delegates.each do |delegate|
            %tr
              %td= link_to delegate.full_name, spina.edit_admin_conferences_delegate_path(delegate)
              %td
                = delegate.email_address
                - unless delegate.email_address.blank?
                  = mail_to delegate.email_address, class: 'button button-small button-link' do
                    = icon('mail')
                    = t('spina.email')
              %td= delegate.institution.name
              %td.align-right
                = link_to spina.edit_admin_conferences_delegate_path(delegate), class: 'button button-small button-link' do
                  = icon('pencil-outline')
                  = t('spina.edit')

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.delegates.no_delegates')