#conference_details.tab-content.active
  .well
    .horizontal-form
      .horizontal-form-group
        .horizontal-form-label= Spina::Conferences::Conference.human_attribute_name :institution
        .horizontal-form-content
          - if @conference.institution
            = f.hidden_field :institution_id
            = @conference.institution.name
          - else
            .select-dropdown= f.collection_select :institution_id, Spina::Conferences::Institution.all, :id, :name, { required: true }

      .horizontal-form-group
        .horizontal-form-label= Spina::Conferences::Conference.human_attribute_name :start_date
        .horizontal-form-content= f.date_field :start_date, value: (@conference.dates.min.strftime("%Y-%m-%d") unless @conference.dates.blank?), class: 'datepicker', placeholder: Spina::Conferences::Conference.human_attribute_name(:start_date), required: true

      .horizontal-form-group
        .horizontal-form-label= Spina::Conferences::Conference.human_attribute_name :finish_date
        .horizontal-form-content= f.date_field :finish_date, value: (@conference.dates.max.strftime("%Y-%m-%d") unless @conference.dates.blank?), class: 'datepicker', placeholder: Spina::Conferences::Conference.human_attribute_name(:finish_date), required: true


      .horizontal-form-group
        .horizontal-form-label
          = Spina::Conferences::Conference.human_attribute_name :rooms
          %small= (Spina::Conferences::Conference.human_attribute_name :rooms_description).try(:html_safe)
        .horizontal-form-content.multiple.select-dropdown= f.collection_select :room_ids, Spina::Conferences::Room.sorted.where(institution: (@conference.institution || Spina::Conferences::Institution.first)), :id, :name, {}, { multiple: true, required: true }

  - unless @conference.new_record?
    .pull-right= link_to t('spina.permanently_delete'), admin_conferences_conference_path(@conference), method: :delete, data: { confirm: t('spina.conferences.conferences.delete_confirmation', conference: @conference.name) }, class: 'button button-link button-danger'
