- content_for(:header_actions) do
  = link_to spina.new_admin_conferences_conference_path, class: 'button button-primary', style: 'margin-right: 0' do
    = icon('plus')
    = t('spina.conferences.conferences.new')

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Conferences::Conference.human_attribute_name :year
          %th= Spina::Conferences::Conference.human_attribute_name :institution
          %th= Spina::Conferences::Conference.human_attribute_name :start_date
          %th= Spina::Conferences::Conference.human_attribute_name :finish_date
          %th

      %tbody
        - if @conferences.any?
          - @conferences.each do |conference|
            %tr
              %td= link_to conference.year, spina.edit_admin_conferences_conference_path(conference)
              %td= conference.institution.name
              %td= time_tag conference.dates.min, l(conference.dates.min, format: :long) unless conference.dates.blank?
              %td= time_tag conference.dates.max, l(conference.dates.max, format: :long) unless conference.dates.blank?
              %td.align-right
                = link_to spina.edit_admin_conferences_conference_path(conference), class: 'button button-small button-link' do
                  = icon('pencil-outline')
                  = t('spina.edit')

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.conferences.no_conferences')
