- content_for(:header_actions) do
  %span{ data: { dropdown: true } }
    = link_to spina.new_admin_conferences_conference_path(params: { institution: Spina::Conferences::Institution&.first || nil }), class: 'button button-primary', style: 'margin-right: 0', data: { trigger: ('dropdown' if Spina::Conferences::Institution.many?), target: '#create_conference_dropdown' } do
      = icon('plus')
      = t('spina.conferences.conferences.new')

    .sliding-dropdown#create_conference_dropdown.align-right
      .slide{ class: :active }
        = form_for [:admin_conferences, Spina::Conferences::Conference.new], url: spina.new_admin_conferences_conference_path, method: :get do |f|
          .select-dropdown
            = f.collection_select :institution_id, Spina::Conferences::Institution.all, :id, :name, { required: true }
          = f.submit t('spina.conferences.conferences.new'), class: 'button button-primary'

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Conferences::Conference.human_attribute_name :year
          %th= Spina::Conferences::Conference.human_attribute_name :institution
          %th= Spina::Conferences::Conference.human_attribute_name :start_date
          %th= Spina::Conferences::Conference.human_attribute_name :finish_date
          %th

      %tbody
        - if @conferences.any?
          - @conferences.each do |conference|
            %tr
              %td= link_to conference.year, spina.edit_admin_conferences_conference_path(conference)
              %td= conference.institution.name
              %td= time_tag conference.dates.min, l(conference.dates.min, format: :long) unless conference.dates.blank?
              %td= time_tag conference.dates.max, l(conference.dates.max, format: :long) unless conference.dates.blank?
              %td.align-right
                = link_to spina.edit_admin_conferences_conference_path(conference), class: 'button button-small button-link' do
                  = icon('pencil-outline')
                  = t('spina.edit')

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.conferences.no_conferences')
