- content_for(:header_actions) do
  %label.button{ for: 'file' }
    = icon('cog')
    = t('spina.conferences.conferences.import')
    = form_with url: import_admin_conferences_conferences_path do |f|
      = f.submit style: 'display: none'
      = f.file_field :file, multiple: false, style: 'display: none'
  = link_to spina.new_admin_conferences_conference_path, class: 'button button-primary', style: 'margin-right: 0' do
    = icon('plus')
    = t('spina.conferences.conferences.new')

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::Conference.human_attribute_name :name
          %th= Spina::Admin::Conferences::Conference.human_attribute_name :year
          %th= Spina::Admin::Conferences::Conference.human_attribute_name :start_date
          %th= Spina::Admin::Conferences::Conference.human_attribute_name :finish_date
          %th

      %tbody
        - if @conferences.any?
          = render @conferences

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.conferences.no_conferences')
