- content_for(:header_actions) do
  %label.button{ for: 'file' }
    = icon('cog')
    = t('spina.conferences.conferences.import')
    = form_with url: import_admin_conferences_conferences_path do |f|
      = f.submit style: 'display: none'
      = f.file_field :file, multiple: false, style: 'display: none'
  %span{ data: { dropdown: true } }
    = link_to spina.new_admin_conferences_conference_path(params: { institution: Spina::Conferences::Institution&.first || nil }), class: 'button button-primary', style: 'margin-right: 0', data: { trigger: ('dropdown' if Spina::Conferences::Institution.many?), target: '#create_conference_dropdown' } do
      = icon('plus')
      = t('spina.conferences.conferences.new')

    .sliding-dropdown#create_conference_dropdown.align-right
      .slide{ class: :active }
        = form_for [:admin_conferences, Spina::Conferences::Conference.new], url: spina.new_admin_conferences_conference_path, method: :get do |f|
          .form-group
            .form-label
              = Spina::Conferences::Conference.human_attribute_name :institution
            .form-control
              .select-dropdown
                = f.collection_select :institution_id, Spina::Conferences::Institution.all, :id, :name, { required: true }
          = f.submit t('spina.conferences.conferences.new'), class: 'button button-primary'

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Conferences::Conference.human_attribute_name :year
          %th= Spina::Conferences::Conference.human_attribute_name :institution
          %th= Spina::Conferences::Conference.human_attribute_name :start_date
          %th= Spina::Conferences::Conference.human_attribute_name :finish_date
          %th

      %tbody
        - if @conferences.any?
          = render partial: 'spina/admin/conferences/shared/conference', collection: @conferences

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.conferences.no_conferences')
