!!!
%html.height-full{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'author', content: current_account.name }
    %meta{ name: 'description', content: seo_description ||  current_account.content(:default_seo_description) }
    %meta{ name: 'viewport', content: 'initial-scale=1.0' }
    %meta{ name: 'keywords', content: current_account.content(:seo_keywords) }
    %meta{ name: 'og:title', content: seo_title ||  current_account.content(:default_seo_title) }
    %meta{ name: 'og:description', content: seo_description ||  current_account.content(:default_seo_description) }
    %base{ target: '_blank' }
    = csrf_meta_tags
    %meta{ name: 'turbolinks-cache-control', content: 'no-preview' }
    %title= "#{seo_title  ||  current_account.content(:default_seo_title)} — #{current_account.name}"
    = render 'spina/shared/google_site_verification'
    = render 'spina/shared/analytics'
    = stylesheet_link_tag 'conference/spina', media: 'all', data: { turbolinks_track: true }
    = render 'hooks/stylesheets'
    = stylesheet_link_tag 'conference/application', media: 'all', data: { turbolinks_track: true }
    = javascript_pack_tag 'conference/application', instance: Spina::Conferences::Engine.webpacker
    = render 'hooks/javascripts'
    = javascript_include_tag 'conference/application'
  %body.bg-light.height-full.d-flex.flex-column
    = render 'spina/shared/admin_bar'
    = spina_link
    %header{ style: 'z-index: 1' }
      = render 'shared/navigation'
      = render 'shared/breadcrumbs' if ancestors&.present?
    = render 'shared/alert' if current_account&.has_content? :current_conference_alert
    = yield
    - if content_for? :content
      .px-3.px-md-4
        .container-md
          .my-4= yield :header
          .my-4= yield :content
          %footer.my-4= render 'shared/footer'
    = render 'spina/shared/social'
