!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: current_page.description}
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    = csrf_meta_tags
    %meta{name: 'turbolinks-cache-control', content: 'no-preview'}
    %title= "#{current_page.seo_title} — #{current_account.name}"
    = render 'spina/shared/google_site_verification'
    = stylesheet_link_tag 'conference/application', media: 'all', data: {turbolinks_track: true}
    = javascript_include_tag 'conference/application', data: {turbolinks_track: true}
  %body
    %header
      = render 'spina/shared/admin_bar'
    %main
      .sidebar
        %h2= current_account.name
        = render "#{current_theme.name}/shared/navigation"
      .content
        %ol.breadcrumb
          - current_page.ancestors.each do |ancestor|
            %li
              = link_to ancestor.menu_title, ancestor.materialized_path
          %li.active
            %a= current_page.menu_title
        %h1= current_page.title
        = yield
    = spina_link
    = render 'spina/shared/social'
